# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


#stripe key
sk_test_51NAj4OAFtaoYqon7OXOy2Zr7WZMRQa9imqSW2XW2FWjGpP0TbtgDndQdepiIgBaKc01r0Y5KnS6hpqmLuvU7IFrw003SMKa36O